/*
 * Copyright (C) {{ year }} {{ holder }}
 * SPDX-License-Identifier: {{ license }}
 */

package {
    // See: http://go/android-license-faq
    default_applicable_licenses: ["{{ license_name }}"],
}

